html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #ecf0f1;
    background-color: #34495e;
    box-sizing: border-box;
}

.game {
    font-family: 'Press Start 2P';
}

.header, .footer {
    text-align: center;
    width: 100%;
}

.header {
    text-transform: uppercase;
    background-color: #2c3e50;
    border-bottom: 1px solid #7f8c8d;
}

.score {
    width: 16%;
    border: 2px solid #7f8c8d;
    border-radius: 16px;
    padding: 25px;
}

.player, .computer, .result {
    display: flex;
    align-items: center;
}

.player, .computer {
    justify-content: space-between;
}

.result {
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 33%;
    padding: 36px 75px;
    background-color: #2c3e50;
    border: 2px solid #7f8c8d;
    border-radius: 16px;
}

button {
    color: #ecf0f1;
    font-size: 24px;
    background-color: #2c3e50;
    border: 2px solid #27ae60;
    border-radius: 16px;
    padding: 12px 48px;
    margin: 35px 0
}

.active:hover {
    border-color: #2ecc71;
    cursor: pointer;
}

.footer {
    color: #bdc3c7;
}